asn1crypto==0.24.0
bcrypt==3.1.4
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==2.3
dicom==0.9.9.post1
enum34==1.1.6
eventlet==0.23.0
Flask==1.0.2
Flask-Assets==0.12
Flask-Dropzone==1.4.6
Flask-SocketIO==3.0.1
greenlet==0.4.13
gdcm==2.4.0
idna==2.7
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.5
paramiko==2.4.2
Pillow==6.2.0
pyasn1==0.4.3
pycparser==2.18
pydicom==1.1.0
PyNaCl==1.2.1
python-engineio==3.8.2.post1
python-socketio==2.0.0
requests==2.20.0
six==1.11.0
urllib3==1.26.5
webassets==0.12.1
Werkzeug==0.16.0
wget==3.2
