#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}

.droparea {
     width: 200px;
     height: 200px;
     border-style: solid;
     border-width: 3px;
     border-color: red;
     float: left;
     line-height: 200px;
     text-align: center;
   }
