<html>
<head>
  <meta charset="utf-8">

  <!--ADD ALL CSS STYLE-SHEETS -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='up.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='upload.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='dropzone.css') }}">

  <!--ADD ALL JAVASCRIPTS -->


  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"> </script>
  <script src="static/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="static/upl.js" > </script>
  <script type="text/javascript" src="{{ url_for('static',filename= 'upload.js')}}" > </script>
  <script type="text/javascript" src="{{ url_for('static',filename= 'dropzone.js')}}" > </script>
  <script type="text/javascript" src="{{ url_for('static',filename= 'something.js')}}" > </script>


</head>
<body>

  <div class="container">
        <div class="panel panel-default">
        <div class="panel-heading"><strong>Dicom ==> CRAZY_BITMAP Converter</strong> <small>Upload Files</small> </div>


<div class="panel-body">

{% with messages = get_flashed_messages() %}
{% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}

{% endwith %}
          <h4>Select files </h4>

  <form class="uploadform"  name="upload" method="POST" action="{{ url_for('uploader') }}" enctype = "multipart/form-data">
    <div class="form-inline">
                  <div class="form-group">
                  <input  type="file" id="js-upload-files" name="file" >

                  </div>

 <button  type="submit"  name="submit" class="btn btn-sm btn-primary" id="js-upload-submit">
Convert and Download</button>
</div>



  </form>

  <div id="res">

  </div>



  <h4>Or drag and drop files below</h4>
          <div  id="drop-zone">
          <form class="dropzone" id="mydropzone" action="{{ url_for('uploader') }}" enctype = "multipart/form-data">

          </form>
            <!--{{ dropzone.create(action_view='uploader') }} -->

          </div>
          <div>
            <a href="{{ url_for('downloader') }}" > Click here after uploading </a>

          </div>

          <div>
            <a href="{{ url_for('script_download') }}" > Wish to convert it back to .dcm?? Download our simple python script</a>

          </div>
</body>

</html>
